# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Models
outputs/models/*.keras

# Backups and interrupted runs
outputs/backup_transfer_previous/

# Temporary/debug logs
outputs/logs/*.out.log
outputs/logs/*.err.log
outputs/logs/transfer_model_clean_run_*.log

# Raw data
data/raw/

# OS
.DS_Store
Thumbs.db
